{% extends 'base.html' %}
{% block title %} MPEA stability {% endblock %}
{% block content %}
<div>
  <h4>Thermodynamic stability prediction for multi-principal element alloys</h4>
  <form class="form-row pt-4" method="post">
    <div class="col-6 pt-2">
      <label class="sr-only" for="formula">Formula</label>
      {% if not status == True %}
      <input class="form-control is-invalid mr-sm-2" type="text" name="formula"
           placeholder="Al0.1CoCrFeMnNi" autofocus value="{{ request.form['formula'] }}">
        {% if status == False %}
        <div class="invalid-feedback">invalid formula</div>
        {% else %}
        <div class="invalid-feedback">enter a formula</div>
        {% endif %}  
      {% else %}
      <input class="form-control mr-sm-2" type="text" name="formula"
           placeholder="Al0.1CoCrFeMnNi" autofocus value="{{ request.form['formula'] }}">
      {% endif %}
    </div>
    <div class="col-auto pt-2">
      <label class="sr-only" for="t_fac">T_fac</label>
      <div class="input-group mb-0">
        <input class="form-control mr-0" type="number" name="t_fac" 
               value="0.9" step="0.05" min="0" max="1" value="{{ request.form['t_fac'] }}"> 
        <div class="input-group-append">
          <span class="input-group-text">Tm</span>
        </div>
      </div>
    </div>
    <div class="col-auto pt-2">
      <button class="btn btn-outline-success" type="submit">Predict</button>
    </div>
  </form>
</div>
{% endblock %}
